[Desktop Entry]
Name=ExposeGlassyRight
Comment=Everything old is new again but now glassy and on the right!

X-KDE-PluginInfo-Author=Phob1an & Bleeplo & corytertel
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=ExposeGlassyRight
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-EnabledByDefault=true
